body {
	font-family: メイリオ
}
div.post-username {
	font-weight: bold;
}
div.post-date {
	float: right;
}
div.well-option {
	margin-top: 20px;
	margin-bottom: 20px
}

.navbar-default {
  background-color: #0c8df2;
  border-color: #75b7ea;
}
.navbar-default .navbar-brand {
  color: #f8ffff;
}
