{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang('ja') }}
{% endblock %}


{% block page_content %}
<div class="col-sm-6">
    <h4>あなたの英単語</h4>
    <hr>
    <dl>
        {% for word in words %}
        <dt class="text-primary">{{ word.word }}</dt>
        <dd>{{ word.meaning }}</dd>
        <hr>
        {% endfor %}
    </dl>
</div>
<div class="col-sm-6">
    <h4>単語を追加</h4>
    <form method="post" class="form" role="form">
        <hr>
        {{ form.hidden_tag() }}
        {% for word_input_form in form.word_input_forms.entries %}
        <h6>単語追加フォーム{{ loop.index }}</h6>
        {% for field in word_input_form %}
        {{ wtf.form_field(field) }}
        {% endfor %}
        <hr>
        {% endfor %}
        {{ wtf.form_field(form.submit) }}
    </form>
</div>
{% endblock %}