<ul class="posts">
    {% for message in messages %}
    <li class="post">
		<div class="post-thumbnail">
			<a href="{{ url_for('.user', username=message.author.username) }}">
				<img class="img-rounded profile-thumbnail" src="{{ message.author.gravatar(size=40) }}">
			</a>
		</div>
		<div class="post-content">
			<div class="post-date">{{ moment(message.date).fromNow() }}</div>
			<div class="post-author"><a href="{{ url_for('.user', username=message.author.username) }}">{{message.author.username }}</a></div>
			<div class="post-body">
				{% if message.body_html %}
					{{ message.body_html | safe }}
				{% else %}
					{{ message.body }}
				{% endif %}
			</div>
		</div>
    </li>
    {% endfor %}
</ul>
