{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}


{% block page_content %}
    <h3>新しくメッセージを追加する</h3>
    <form class="form" method="POST">
        <div class="form-group">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col-sm-6">
                    {{ form.body(only_input=True, class_="form-control",rows=15) }}
                </div>
                <div id="markdown-preview"></div>
            </div>
            <hr>
        </div>
        {{ wtf.form_field(form.submit) }}
    </form>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    const input = document.getElementById('flask-pagedown-body')
    const preview = document.getElementById('markdown-preview')
    input.addEventListener('input', update)
    preview.innerHTML = marked.parse(input.value);
    function update(e) {
      preview.innerHTML = marked.parse(e.target.value);
    }


</script>

{% endblock %}
