{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Edit Post{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Edit Post</h1>
</div>
<div>
    <form class="form" method="POST">
        <div class="form-group">
            {{ form.csrf_token }}
            {{ form.body.label(class_="control_label") }}
            {{ form.body(only_input=True, class_="form-control",rows=10) }}
            <hr>
            {{ form.body(only_preview=True, class_="form-control") }}
        </div>
        {{ wtf.form_field(form.submit) }}
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}

