{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang('ja') }}
{{ pagedown.include_pagedown() }}
{% endblock %}


{% block page_content %}
{% if g.search_form %}
<form class="form" method="get" action="{{ url_for('main.search') }}">
	<div class="form-group">
		{{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
	</div>
</form>
{% endif %}
<h3>
	<i>Messages</i>
	<a href="{{ url_for('main.index') }}">
		<span class="glyphicon glyphicon-refresh"></span>
	</a>
</h3>
<div id="results">
	{% include '_posts.html' %}
	{{ render_pagination(pagination) }}
</div>
{% endblock %}
