{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang('ja') }}
{% endblock %}

{% block page_content %}
	<div class="row">
		<div class="col-sm-4">
			<h3>新しくメッセージを追加する</h3>
			{{ wtf.quick_form(form) }}
			<div class="well well-option">
				<h4>登録ユーザ</h4>
				<ul>
					{% for user in users %}
					<li>{{ user.name or user.username }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-sm-6 pull-right">
			<h3>
				<i>Messages</i>
				<a href="{{ url_for('main.index') }}">
					<span class="glyphicon glyphicon-refresh"></span>
				</a>
			</h3>
			<dl class="message-region">
				{% for message in messages %}
					<dt>{{ message.author.name or message.author.username }} ({{ moment(message.date).fromNow(refresh=True) }})</dt>
					<dd>-  {{ message.message }}</dd>
				{% endfor %}
			</dl>
		</div>
	</div>
{% endblock %}
