{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/icon">
<link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
{% endblock %}


{% block content %}
<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<span class="navbar-brand glyphicon glyphicon-pencil"></span>
			<a class="navbar-brand" href="{{ url_for('main.index') }}">Flasky</a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
				data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="{{ url_for('auth.register') }}">新規登録</a>
				</li>
				{% if current_user.is_authenticated %}
				<li>
					<a href="{{  url_for('main.user', username=current_user.username)  }}">{{ current_user.username }}</a>
				</li>
				<li>
					<a href="{{ url_for('auth.logout') }}">ログアウト</a>
				</li>
				{% else %}
				<li>
					<a class="navbar-brand" href="{{ url_for('auth.login') }}">ログイン</a>
				</li>
				{% endif %}
			
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-sm-2">
			<ul class="list-group">
				<li class="list-group-item">
					<span class="glyphicon glyphicon-home"></span>
					<a href="{{ url_for('main.index') }}">HOME</a>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-plus"></span>
					<a href="{{ url_for('main.create') }}">メッセージ追加</a>
				</li>
			</ul>
			<ul class="list-group">
				<li class="list-group-item">
					<span class="glyphicon glyphicon-dashboard"></span>
					統計
				</li>
			</ul>
		</div>
		<div class="col-sm-10">
			{% for category, message in get_flashed_messages(with_categories=True) %}
			<div class="alert alert-{{ category }}">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
			{% endfor %}
			{% block page_content %}{% endblock %}
		</div>
	</div>
	<hr>
	<address>
		<i>
			Flask powered application written by Nishiyama Takahiro
		</i>
	</address>
</div>
{% endblock %}
