{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}


{% block content %}
<div class="container">
	<div class="page-header text-info">
		<h1>メッセージ投稿アプリ</h1>
	</div>
	{% for message in get_flashed_messages() %}
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	</div>
	{% endfor %}
	{% block page_content %}{% endblock %}
	<hr>
	<address>
		<i>
			Flask powered application written by Nishiyama Takahiro
		</i>
	</address>
</div>
{% endblock %}
